<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Universal Java Installer</vendor>
  <vendor_url>https://github.com/ruysabino/universal-java-installer</vendor_url>

  <action id="io.github.ruysabino.JavaInstaller.helper">
    <description>Install, remove or switch Java runtimes</description>
    <description xml:lang="pt">Instalar, remover ou alternar versões do Java</description>
    <description xml:lang="tr">Java sürümlerini kur, kaldır veya değiştir</description>
    <message>Authentication is required to manage Java installations</message>
    <message xml:lang="pt">É necessária autenticação para gerir as instalações do Java</message>
    <message xml:lang="tr">Java kurulumlarını yönetmek için yetkilendirme gerekiyor</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/universal-java-installer/src/helper.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
